html {
    text-align: center;
}

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: fit-content;
    background-color: aquamarine;
}

img {
    width: 100%;

    position: absolute;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

#blockinfojoueur {
    position: absolute;
    color: red;
    z-index: 2;
    background-color: black;
    width: 50px;
    height: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#logoargent {
    width: 3%;
}