/* TODO ---------------------------------- FONT ------------*/

@font-face {
    font-family: "pixel";
    src: url("./font/pixelex.ttf");
}
/* TODO ---------------------------------- ANIMATIONS ------------*/

/* TODO ---------------------------------- HTML / BODY ------------*/
html {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
    user-select: none;

}

body {   
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    cursor: url('./img/mouse.png'), default;

}

/* TODO ---------------------------------- CANVAS (surface de jeu) ------------*/



canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: blueviolet;

}



#menuboutton {
    position: absolute;
    background-color: black;
    z-index: 4;
    top: 40px;
    left: 90px;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 70px;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 232, 228);
    margin: 0px;
    text-align: center;
    font-size: 15px;
    color: white;
    cursor: url('./img/mouse2.png'), pointer;
    font-family: "pixel";


}

#menuboutton:hover {}

#menu {
    width: 700px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgba(92, 0, 0, 0.252);
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    visibility: hidden;
}

#portrait {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
}

/* TODO ---------------------------------- INTERNET ------------*/

#notifinternet {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: url('./img/mouse2.png'), pointer;
}

#infobulle{
    position: absolute;
    font-family: "pixel";
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    z-index: 5;
    font-size: 8px;
    border-radius: 2px;
    color: white;
    padding: 5px;
}
